*{
    margin: 0;
    padding: 0;
    font-family:'poppins', sans-serif;
    box-sizing:border-box ;
}
html{
    scroll-behavior: smooth;
}

body{
    background: #080808;
    color: #fff;

}
#header{
    width: 100%;
    height: 100vh;
    background:  url(images/bilo1.jpg);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    
    flex-wrap: wrap;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
    font-weight: bolder;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.header-text h1 span{
    color: orangered;
}
.header-text p span{
    color: #eaf109;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*---------about-------------*/
#about{
    padding: 8px 0;
    background-position: center;
    background-size: cover;
    background-color: white;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
}
.about-col-2{
    flex-basis: 60%;
}
.about-par{
    color: #060606;
    padding-top: 5px;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: red;
    border-bottom-width:  solid red;
}



/*--------------------Experience------------------*/

#experience{
    padding: 50px 0;
    background: black
    
}

.sub-title2{
    font-size: 60px;
    font-weight: 600;
    color: red;
    border-bottom-width:  solid red;
    text-align: center;

}
.experience-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}




.experience-info p{
    padding: 10px;
    color: white;
    background-color:rgba(128, 128, 128, 0.129);
    height: 180px;
}




/*----------------------------photos------------------*/
#photos{
    padding: 50px 0;
    background-color: white;
}

.sub-title3{
    font-size: 60px;
    font-weight: 600;
    color: red;
    border-bottom-width:  solid red;
    text-align: center;
}
.projects-info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    margin-top: 50px;
    border-block-width: 10px;
}

.projects-info div img{
    padding: 30px;
    margin-top: -20px;
}
.projects-info div video{
    margin-top: 10px;
    margin-left: 30px;
}

/*----------------------------contact------------------*/
#contact{
    padding: 50px 0;
    background: black;
}
.sub-title4{
    font-size: 50px;
    font-weight: 600;
    color: red;
    border-bottom-width:  solid red;
}
nav .fa-solid{
    display: none;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #89235d;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex: 60%;
}
.contact-left p{
    margin-top: 30px;
    color: white;
}
.contact-left p i{
    color: #8f1d58;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #851354;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: rgb(52, 11, 233);
    transform: translateY(-4px);
}
.contact-right button:hover{
    color: black;
    background-color:chocolate;
}

.map{
    padding-top: 10px;
}

.fotter-bottom{
   background: #292929;
   text-align: center;
   padding: 30px;
   
}


